@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    @apply bg-white text-slate-900;
  }
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .icon {
    font-family: "Material Symbols Outlined";
    font-style: normal;
  }
}
